a{
    text-decoration: none;
}

a:hover{
    color: var(--color4);
    font-weight: bold; 
    text-decoration: underline;   
}
li{
    list-style-type: none;
    padding-bottom: 5px;
}

main{
    display: flex;
    margin: auto;
}

#nav-index{    
    background-color: var(--color2);
    font-size: 20px;
    width: 250px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
}

#section-index {
    background-color: var(--color1);
    width: 1400px;
    height: 561px;    
}

#article-index {
    background-color: var(--color1);
    width: 400px;
    height: 100px;
    position: absolute;
    font-size: 46px;
    font-weight: bold;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.a-color{
    color: black;
    font-weight: bold;
}

